spring:
  application:
    name: live-user-provider
  datasource:
    driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
    url: jdbc:shardingsphere:classpath:db-sharding.yaml
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://live.zjxjwxk.com:8808/live_user?useUnicode=true&characterEncoding=utf8
#    username: root
#    password: 19981018
    hikari:
      pool-name: live-user-pool
      minimum-idle: 150
      maximum-pool-size: 300
#      connection-init-sql: select 1
      connection-timeout: 4000
      max-lifetime: 60000
  data:
    redis:
      port: 6379
      host: live.zjxjwxk.com
      lettuce:
        pool:
          min-idle: 10
          max-idle: 20
          max-active: 50

dubbo:
  application:
    name: ${spring.application.name}
  registry:
    address: nacos://live.zjxjwxk.com:8848?username=nacos&&password=nacos
  protocol:
    name: dubbo
    port: 9090

rocketmq:
  producer:
    name-srv-addr: live.zjxjwxk.com:9876
    group-name: ${spring.application.name}
    retry-times: 3
    send-timeout: 3000
  consumer:
    name-srv-addr: live.zjxjwxk.com:9876
    group-name: ${spring.application.name}

logging:
  config: classpath:logback-spring.xml
